maverick_cloud/settings.py
maverick_cloud/conf/gitolite.conf
maverick_cloud/conf/apache/localhost/public.tar.gz
maverick_cloud/conf/apache/sites-available.tar.gz
maverick_cloud/conf/nginx/sites-available.tar.gz
maverick_cloud/conf/skel.tar.gz
maverick_cloud/conf/keys/*
